<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethical Hacking & Cyber Security Blog</title>
    <link rel="stylesheet" th:href="@{./style.css}" media="all" href="../../static/style.css"
          type="text/css"/>

</head>
<body>
<!-- header -->
<header>
    <div class="nav container">
        <a href="#" class="logo">Info<span>Tech</span></a>
        <a href="#" class="login">Login</a>
    </div>
</header>

<!-- home -->
<section class="home" id="home">
    <div class="hopme-text container">
        <h2 class="home-title"> The InfoTech Blog</h2>
        <span class="home-subtitle">Ethical Hacking and Cyber security Issues in Nigeria</span>
    </div>
</section>


<!-- post filter -->
<div class="post-filter container">
    <span class="filter-item active-filter" data-filter='all'> All articles</span>
    <span class="filter-item" data-filter='ethical'> Ethical Hacking</span>
    <span class="filter-item" data-filter='security'> Cyber Security</span>
    <span class="filter-item" data-filter='attackers'> Cyber Attackers</span>
    <span class="filter-item" data-filter='comment'> Comment/Review</span>
    <span class="filter-item" data-filter='complaint'> Complaint</span>
</div>


<!-- post -->
<section class="post container">

    <!-- post box 1 -->
    <div th:each="blog : ${blog}" class="post-box ethical">
        <img th:src="@{/static/image/${blog.id}.jpg}" alt="" class="post-img">
        <h2 class="category">[[${blog.blogCategory}]]</h2>
        <a th:href="@{'/dashboard/blog/' + ${blog.id}}" class="post-title">[[${blog.blogTitle}]]</a>
        <span class="post-date">[[${blog.datePosted}]]</span>
        <p class="post-description">[[${blog.blogContent}]]</p>

        <!-- profile -->
        <div class="profile">
            <img th:src="@{/static/image/${blog.id}.jpg}" alt="" class="profile-img">
            <span class="profile-name">[[${blog.blogAuthor}]]</span>
        </div>
    </div>

<!--    &lt;!&ndash; post box 2 &ndash;&gt;-->
<!--    <div class="post-box security">-->
<!--        <img src="../static/image/img2.jpeg" alt="" class="post-img">-->
<!--        <h2 class="category">Cyber Security</h2>-->
<!--        <a href="post-page.html" class="post-title">Things to know about Cyber Security</a>-->
<!--        <span class="post-date"> 27th Oct</span>-->
<!--        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo velit eaque-->
<!--            exercitationem veritatis debitis alias facere voluptatem officia nam.</p>-->

<!--        &lt;!&ndash; profile &ndash;&gt;-->
<!--        <div class="profile">-->
<!--            <img src="../static/image/img1.jpg" alt="" class="profile-img">-->
<!--            <span class="profile-name"> Oni Israel</span>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; post box 3 &ndash;&gt;-->
<!--    <div class="post-box attackers">-->
<!--        <img src="../static/image/img3.jfif" alt="" class="post-img">-->
<!--        <h2 class="category">Cyber Attackers</h2>-->
<!--        <a href="post-page.html" class="post-title">Things to know about Cyber Attackers</a>-->
<!--        <span class="post-date"> 5th June</span>-->
<!--        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo velit eaque-->
<!--            exercitationem veritatis debitis alias facere voluptatem officia nam.</p>-->

<!--        &lt;!&ndash; profile &ndash;&gt;-->
<!--        <div class="profile">-->
<!--            <img src="../static/image/img2.jpeg" alt="" class="profile-img">-->
<!--            <span class="profile-name"> Ozor Chidi</span>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; post box 4 &ndash;&gt;-->
<!--    <div class="post-box ethical">-->
<!--        <img src="../static/image/img1.jpg" alt="" class="post-img">-->
<!--        <h2 class="category">Ethical Hackng</h2>-->
<!--        <a href="post-page.html" class="post-title">Things to know about ethical hacking</a>-->
<!--        <span class="post-date"> 23rd May</span>-->
<!--        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo velit eaque-->
<!--            exercitationem veritatis debitis alias facere voluptatem officia nam.</p>-->

<!--        &lt;!&ndash; profile &ndash;&gt;-->
<!--        <div class="profile">-->
<!--            <img src="../static/image/img3.jfif" alt="" class="profile-img">-->
<!--            <span class="profile-name"> Abraham Peters</span>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; post box 5 &ndash;&gt;-->
<!--    <div class="post-box security">-->
<!--        <img src="../static/image/img2.jpeg" alt="" class="post-img">-->
<!--        <h2 class="category">Cyber Security</h2>-->
<!--        <a href="post-page.html" class="post-title">Things to know about Cyber Security</a>-->
<!--        <span class="post-date"> 27th Oct</span>-->
<!--        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo velit eaque-->
<!--            exercitationem veritatis debitis alias facere voluptatem officia nam.</p>-->

<!--        &lt;!&ndash; profile &ndash;&gt;-->
<!--        <div class="profile">-->
<!--            <img src="../static/image/img1.jpg" alt="" class="profile-img">-->
<!--            <span class="profile-name"> Oni Israel</span>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; post box 6 &ndash;&gt;-->
<!--    <div class="post-box attackers">-->
<!--        <img src="../static/image/img3.jfif" alt="" class="post-img">-->
<!--        <h2 class="category">Cyber Attackers</h2>-->
<!--        <a href="post-page.html" class="post-title">Things to know about Cyber Attackers</a>-->
<!--        <span class="post-date"> 5th June</span>-->
<!--        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo velit eaque-->
<!--            exercitationem veritatis debitis alias facere voluptatem officia nam.</p>-->

<!--        &lt;!&ndash; profile &ndash;&gt;-->
<!--        <div class="profile">-->
<!--            <img src="../static/image/img2.jpeg" alt="" class="profile-img">-->
<!--            <span class="profile-name"> Ozor Chidi</span>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; post box 7 &ndash;&gt;-->
<!--    <div class="post-box ethical">-->
<!--        <img src="../static/image/img1.jpg" alt="" class="post-img">-->
<!--        <h2 class="category">Ethical Hackng</h2>-->
<!--        <a href="post-page.html" class="post-title">Things to know about ethical hacking</a>-->
<!--        <span class="post-date"> 23rd May</span>-->
<!--        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo velit eaque-->
<!--            exercitationem veritatis debitis alias facere voluptatem officia nam.</p>-->

<!--        &lt;!&ndash; profile &ndash;&gt;-->
<!--        <div class="profile">-->
<!--            <img src="../static/image/img3.jfif" alt="" class="profile-img">-->
<!--            <span class="profile-name"> Abraham Peters</span>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; post box 8 &ndash;&gt;-->
<!--    <div class="post-box security">-->
<!--        <img src="../static/image/img2.jpeg" alt="" class="post-img">-->
<!--        <h2 class="category">Cyber Security</h2>-->
<!--        <a href="post-page.html" class="post-title">Things to know about Cyber Security</a>-->
<!--        <span class="post-date"> 27th Oct</span>-->
<!--        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo velit eaque-->
<!--            exercitationem veritatis debitis alias facere voluptatem officia nam.</p>-->

<!--        &lt;!&ndash; profile &ndash;&gt;-->
<!--        <div class="profile">-->
<!--            <img src="../static/image/img1.jpg" alt="" class="profile-img">-->
<!--            <span class="profile-name"> Oni Israel</span>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; post box 9 &ndash;&gt;-->
<!--    <div class="post-box attackers">-->
<!--        <img src="../static/image/img3.jfif" alt="" class="post-img">-->
<!--        <h2 class="category">Cyber Attackers</h2>-->
<!--        <a href="post-page.html" class="post-title">Things to know about Cyber Attackers</a>-->
<!--        <span class="post-date"> 5th June</span>-->
<!--        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo velit eaque-->
<!--            exercitationem veritatis debitis alias facere voluptatem officia nam.</p>-->

<!--        &lt;!&ndash; profile &ndash;&gt;-->
<!--        <div class="profile">-->
<!--            <img src="../static/image/img2.jpeg" alt="" class="profile-img">-->
<!--            <span class="profile-name"> Ozor Chidi</span>-->
<!--        </div>-->
<!--    </div>-->

</section>

<!-- footer -->
<div class="footer container">
    <p>&#169; All Rights Reserverd 2023</p>
</div>

<!--jquery link-->
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<!-- internal javascript -->
<script src="../static/app.js"></script>
</body>
</html>