<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethical Hacking & Cyber Security Blog</title>
    <link rel="stylesheet" th:href="@{./style.css}" media="all" href="../../static/style.css"
          type="text/css"/>

</head>
<body>
<!-- header -->
<header>
    <div class="nav container">
        <a href="#" class="logo">Info<span>Tech</span></a>
        <a th:href="@{/login}" class="login">Login</a>
    </div>
</header>

<!-- home -->
<section class="home" id="home">
    <div class="hopme-text container">
        <h2 class="home-title"> The InfoTech Blog</h2>
        <span class="home-subtitle">Ethical Hacking and Cyber security Issues in Nigeria</span>
    </div>
</section>


<!-- post filter -->
<div class="post-filter container">
    <span class="filter-item active-filter" data-filter='all'> All articles</span>
    <span class="filter-item" data-filter='ethical'> Ethical Hacking</span>
    <span class="filter-item" data-filter='security'> Cyber Security</span>
    <span class="filter-item" data-filter='attackers'> Cyber Attackers</span>
</div>


<!-- post -->
<section class="post container">

    <!-- post box 1 -->
    <div th:each="blog : ${blogs}" class="post-box ethical">
        <img th:src="@{'/blogImage/' + ${blog.id} + '.jpg'}" alt="" class="post-img">
        <h2 class="category">[[${blog.blogCategory}]]</h2>
        <a th:href="@{'/dashboard/blog/' + ${blog.id}}" class="post-title">[[${blog.blogTitle}]]</a>
        <span class="post-date">[[${blog.datePosted}]]</span>
        <p class="post-description">[[${blog.blogContent}]]</p>

        <!-- profile -->
        <div class="profile">
            <img th:src="@{'/blogImage/' + ${blog.id} + '.jpg'}" alt="" class="profile-img">
            <span class="profile-name">[[${blog.blogAuthor}]]</span>
        </div>
    </div>

</section>

<!-- footer -->
<div class="footer container">
    <p>&#169; All Rights Reserverd 2023</p>
</div>

<!--jquery link-->
<script
        th:src="@{https://code.jquery.com/jquery-3.7.0.js}"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<!-- internal javascript -->
<script src="../static/app.js" th:src="@{./app.js}"></script>
</body>
</html>