<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post page</title>
    <link rel="stylesheet" th:href="@{./style.css}" media="all" href="../../static/style.css"
          type="text/css"/>

</head>
<body>
<!-- header -->
<header>
    <div class="nav container">
        <a href="index.html" class="logo">Info<span>Tech</span></a>
        <a href="#" class="login">Login</a>
    </div>
</header>

<!-- post content-->
<section class="post-header">
    <div class="header-content post-container">
        <!-- back to home-->
        <a href="index.html" class="back-home">Back To Home</a>
        <!-- title -->
        <h1 class="header-title" th:text="${blog.blogTitle}"> </h1>
        <!-- post image-->
        <img th:src="@{'/blogImage/' + ${blog.id} + '.jpg'}" alt="" class="header-img">
    </div>
</section>

<section class="post-content post-container">
    <h2 class="sub-heading" th:text="${blog.blogDescription}></h2>
    <p class="post-text" th:text="${blog.blogContent}></p>
</section>

<!-- footer -->
<div class="footer container">
    <p>&#169; All Rights Reserverd 2023</p>
</div>

<!--jquery link-->
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<!-- internal javascript -->
<script src="../static/app.js"></script>
</body>
</html>